<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="well-lg">
    <form [formGroup]="track" (ngSubmit)="trackPackage()">
        <div class="form-group">
            <label for="trackingNumber">Tracking Number:</label>
            <input formControlName="trackingNumber"
                   class="form-control"
                   (keyup.enter)="trackPackage()"
                   placeholder="Enter tracking number"
                   id="trackingNumber"
                   type="text" />
        </div>
        <span><button type="submit" class="btn btn-success">Track</button></span>
        <div 
            class="alert alert-danger" 
            *ngIf="trackingNumber.touched && trackingNumber.invalid">
            Tracking Number is Required
        </div>
        
        <div 
            class="alert alert-danger"
            *ngIf="!trackingNumber.invalid && track.errors?.statusCode">
            Tracking Number is invalid
        </div>
        <div 
            class="alert alert-danger"
            *ngIf="!trackingNumber.touched && track.errors?.emptyField">
            Please, enter a valid tracking number.
        </div>
      
    </form>
</div>


